<h1>I'm Feeling Motivated</h1>
<div class="row">
  <div class = "col-md-7 buffer-bottom">
    <h4>
      Lucky you, you're on your way to your Nutella fix. Here are some great recipes we found for you. Get to it!
      Brought to you by <%= image_tag 'yummly-logo.png', class: 'yummly-logo'%>.
    </h4>
  </div>
  <div class = "col-md-5">
    <div class = "btn btn-primary btn-api page-reloader">Make something else</div>
  </div>
</div>

<% if @results.error.present? %>
  <% flash.now[:notice] = @results.error.msg %>
  <%= render :partial => "shared/standard_error" %>
<% else %>
<div><!-- Magic div. Do not touch. -->
  <div class = "api-results">
    <div class = "masonry-outer-container">
      <% @results.each do |result| %>
        <div class = "api-result">
          <div class = "col-md-12 results-box">
            <div class = "results-image-container yummly-image-container">
              <%= link_to result.yummly_url, target: "_blank" do %>
                <%= image_tag result.url_sm, class: 'results-image' %>
              <% end %>
            </div>
            <div class = "results-box-content">
              <%= link_to result.yummly_url, target: "_blank" do %>
                <h4 class = "results-title"><%= result.name %></h4>
              <% end %>
              <% result.rating.times do %>
                <div class = "glyphicon glyphicon-star star-pink"></div>
              <% end %>
              <% ( 5 - result.rating).times do %> 
                <div class = "glyphicon glyphicon-star star-grey"></div>
              <% end %>
              <div class="divider-line">|</div>
              Time: <%= result.prep_time.to_i / 60 %> min<br />
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>