<div id="header-container">
  <div id="header">
    <div class="col-md-10 col-md-offset-1 clearfix">
      <a href="/">
        <%= image_tag 'logo-small-seven-ounces.png', class: 'logo-sm' %>
      </a>
      <div class="pull-right">
        <div class="nav-item"><%= link_to "I'm Feeling Lazy", places_path %></div>
        <div class="nav-item"><%= link_to "I'm Feeling Motivated", external_recipes_path %></div>
        <div class="nav-item"><%= link_to "What's This About?", home_about_path %></div>
        <div class="nav-item">
          <%= link_to image_tag('twitter-nav.png', class: 'social-icon'),
                      twitter_share_url('The answer to all my problems! More ways to add #nutella to my life. Check it:',
                                        'http://www.sevenounces.com'), target: '_blank' %>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="header-offset"></div>
