
  <div class = "col-md-10 col-md-offset-1 clearfix">
    <div class = "col-md-12">
      <h1>I'm Feeling Lazy</h1>
    </div>
    <div class = "pull-right">
      <%= render :partial => "shared/places_form" %>
    </div>
    <div class = "col-md-7 buffer-bottom">
      <h4>
        <% if @places.error.present? %>
          I just need someone to make me something with Nutella. Find restaurants that serve Nutella in my area.
        <% else %>
          Lucky you, you're on your way to your Nutella fix. Here are some great spots that serve Nutella near you, 
          brought to you by <%= image_tag 'yelp-logo.png', class: 'yelp-logo'%>.
        <% end %>
      </h4>
    </div>
  </div>

  <div class = "col-md-10 col-md-offset-1">
    <% if @places.error.present? %>
        <!-- Fix this area later -->
        <div class = "col-md-12">
          <% flash.now[:notice] = @places.error.msg %>
          <%= render :partial => "shared/standard_error" %>
        </div>
        <!-- END Fix -->
    <% else %>
      <div class = "masonry-outer-container">
        <% @places.each do |place| %>
          <div class = "col-md-4">
            <div class = "col-md-12 results-box">
              <div class = "results-image-container">
                <%= link_to place.url, target: "_blank" do %>
                  <%= image_tag(place.img_url, :alt => "rating", :class => "results-image") %>
                <% end %>
              </div>
              <div class = "results-box-content">
                <%= link_to place.url, target: "_blank" do %>
                  <h4 class = "results-title">
                    <%= place.name %>
                  </h4>
                <% end %>
                <%= image_tag(place.rating_img_url, :alt => "rating", :class => "") %>
                <% if place.neighborhood %>
                  <div class = "divider-line">|</div>
                  <%= place.neighborhood %>
                <% end %>
                <br />
                <%= place.address['address'].join(", ") %><br />
                <%= "#{place.address['city']}, #{place.address['state']} #{place.address['postal_code']}" %><br />
                <% if place.phone %>
                  <%= place.phone.gsub('-','.') %>
                <% end %>
                <br />
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>