<div class="col-md-10 col-md-offset-1">
  <div class = "row text-center">
    <h1>I'm Feeling Lazy</h1>
    <div class = "glyphicon glyphicon-cloud glyph-size-lg"></div>
    <div class="text-center panel-text">
      I just need someone to make me something with Nutella. Find restaurants that serve Nutella in my area.
    </div>
  </div>
</div>

<%= render :partial => "shared/places_form" %>
<div class = "col-md-10 col-md-offset-1">
  <% if @places.error.present? %>
    <!-- Fix this area later -->
    <% flash.now[:notice] = @places.error.msg %>
    <%= render :partial => "shared/standard_error" %>
    <!-- END Fix -->
  <% else %>
    <% @places.each do |place| %>
      <div class ='c1 col-md-4'>
        <div class="col-md-12 results-box">
          <div class="results-image-container">
          <%= image_tag(place.img_url, :alt => "rating", :class => "results-image") %>
          </div>
          <div class="results-box-content">
            <h4 class="results-title">
              <%= place.name  %>
            </h4>
            <%= image_tag(place.rating_img_url, :alt => "rating", :class => "") %>
            <%= place.rating %> <div class="divider-line">|</div><%= place.phone %>
            <%= place.distance %><br />
            <%= place.address.join(', ')%> <br />
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>




