<!DOCTYPE html>
<% override = (yield :layout_override) %>
<html class = <%= override == 'home' ? 'home-bckgd' : '' %>>
<head>
  <title>SevenOunces</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
  <!-- Open Graph -->
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta property="og:type"   content="website" />
  <meta property="og:url"    content="http://www.sevenounces.com" />
  <meta property="og:title"  content="Seven Ounces" />
  <meta property="og:description"  content="Find new and exciting ways to add Nutella into your everyday life.
Search nearby locations that serve Nutella or find a great recipe you can make at home. It's all here." />
  <meta property="og:image"  content="<%= image_url('logo-small-share.jpg') %>" />
  <!--mobile viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <% unless override.present? %>
     <div class = "wrapper">
  <% end %>
  <%= override == 'home' ? nil : (render :partial => "shared/nav") %>
  <%= yield %>
  <% unless override.present? %>
      <div class="push"></div>
    </div>
  <% end %>
  <%= override == 'home' ? nil : (render :partial => "shared/footer") %>
  <%= javascript_include_tag 'application' %>
  <%= render "layouts/analytics" %>
</body>
</html>
  
