<!DOCTYPE html>
<% if (yield :layout_override) === 'home' %>
  <% override = true %>
<% end %>
<html class = <%= override ? 'home-bckgd' : '' %>>
<head>
  <title>SevenOunces</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless override %>
    <%= render :partial => "shared/nav" %>
  <% end %>
  <%= yield %>
</body>
</html>