<!DOCTYPE html>
<% override = (yield :layout_override) %>
<html class = <%= override == 'home' ? 'home-bckgd' : '' %>>
<head>
  <title>SevenOunces</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
  <%= render 'shared/open_graph' %>
  <!--mobile viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<div id="skrollr-body">
  <%= render 'shared/nav' %>

  <div class="container">
    <%= yield %>
  </div>


</div>
<!--<%= render 'shared/footer' %>-->
<%= javascript_include_tag 'application' %>
<%= render 'shared/analytics' %>
</body>
</html>
